body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* background-color: #d81adb; */
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
    color: #3366cc;
}

.italic {
    font-style: italic;
}

a {
    text-decoration: none;
}